# Dependencias
node_modules/
dist/

# Firebase
.firebase/
firebase-debug.log*
.runtimeconfig.json
firestore-debug.log*
ui-debug.log*

# Cache y temporales
*.cache
.DS_Store
.vscode/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
